body{
    font-family: Roboto, sans-serif;
    background-color: #000000;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color:white;
    border-bottom:#333333;
    border:10px;
}

.header-logo img{
    width: 200px;
    height:auto;
}

.header-links{
    display:flex;
    gap:32px;
    padding: 8px;
}

ul{
    list-style-type: none;
}


.section-one{
    display:flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}

.s1-text{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

.section-one button{
    background-color: #9d4dbb;
    border-radius: 8px;
    padding: 8px;
    font-size:18px;
    font-weight: 600;
    color:white;
    outline: none;
    border-style: none;
}

.s1-image img{
    width: 200px;
    height: auto;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.s2-images{
    display: flex;
    gap: 24px;
    align-items: flex-start;

}

.s2-images img{
    border-radius: 10px;
    height: 200px;
    width:auto;
    border-style:solid;
    border-width:4px;
    border-color:#9d4dbb;
}

.s2-images p{
    text-align: center;
}
.updates{
    display:flex;
    flex-direction: column;
    max-width: 200px;
    
}

.section-three{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 50px;
}

.section-three p{
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    
}


.s3-container {
    max-width: 500px;
    
}

.s3-container a{
    display:flex;
    justify-content: flex-end;
}

.section-four{
    display: flex;
    background-color: #9d4dbb;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    padding: 20px 60px;
    border-radius: 8px;
}

.section-four button{
    padding: 20px 30px;
    background-color: #9d4dbb;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.section-five{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}